html{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    background-image: url(../img/fondito.png) ;
    padding: 100px;
    position: relative;
}
header h1{
    color: white;
    /*font-size: 32px;*/
    text-align: center;
}
nav{
    background-color: rgb(151, 140, 140);
    text-align: center;
    }
nav ul{
    display: inline-block;
    position: relative;
   
}
ul li{
    display: inline;
    align-items: center; 
    padding: 15px; 
   
    }
ul li a{
    color:white;   
    }
/*Index*/
.contenedorIndex{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}
.encabezadoIndex{
    grid-area: header;
    display: flex;
    flex-direction: row;
    
}
.encabezadoIndex h1{
    text-align: center;
    
}
.contenedorMenu{
    grid-area: nav;    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    
}
.menuIndex{    
    text-align: center;  
}
.principalIndex{
    grid-area: main;
}
.tarjeta{
    margin: 50px;
    padding: 100px;
    position: relative;
    border: solid 5px rgba(194, 105, 120, 0.546);
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
}
.oferta1 img{
    margin: 5px;
}
.btn{
    border: 0;
    margin-top: 5px;
    background-color: rgba(145, 145, 145, 0.164);
    transition: backgroun-color 1s ;
}
.btn:hover{
    background-color: rgb(145, 145, 145);
}

.footerIndex{
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center; 
    
}

@media screen and (min-width:1024px) {
    .contenedorIndex{
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "header header header header header header"
        "nav nav nav nav nav nav "
        "main main main main main main"
        "footer footer footer footer footer footer";
    }
}

/*Sobre Nosotros*/
.contenedorSobrenosotros{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer";
}
.encabezadoSobrenosotros{
    grid-area: header;
    display: flex;
    flex-direction: row;
}
.contenedorMenuSobreNosotros{
    grid-area: nav;    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.menuSobrenosotros{
    text-align: center;
}
.principalSobrenosotros{
    grid-area: main;
}
.mapaSobrenosotros{
    grid-area: aside;
    display: flex;
    flex-direction: column-reverse;
}
.footerSobrenosotros{
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center; 
}
@media screen and (min-width:1024px) {
    .contenedorSobrenosotros{
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "header header header header header header"
        "nav nav nav nav nav nav"
        "main main main main aside aside"
        "footer footer footer footer footer footer";
        
    }
}
/*Productos*/
.contenedorProductos{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}
.encabezadoProductos{
    grid-area: header;
    display: flex;
    flex-direction: row;
}
.contenedorMenuProducto{
    grid-area: nav;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.principalProductos{
    grid-area: main;

}
.footerProductos{
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}
.galeria{
    display:flex;
    flex-flow: row nowrap;
    align-content: space-around;
    justify-content: space-evenly;
}
@media screen and (min-width:1024px) {
    .contenedorProductos{
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "header header header header header header"
        "nav nav nav nav nav nav"
        "main main main main main main"
        "footer footer footer footer footer footer";
    }
}

/*Eventos*/
.contenedorEventos{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}
.encabezadoEventos{
    grid-area: header;
    display: flex;
    flex-direction: row;
}
.contenedorMenuEventos{
    grid-area: nav;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.menuEventos{
    text-align: center;
}
.principalEventos{
    grid-area: main;
}
.footerEventos{
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;

}
/*Contacto*/

.contenedorContacto{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    background-color: rgba(255, 192, 203, 0.288);
}
.encabezadoContacto{
    grid-area: header;
    display: flex;
    flex-direction: row;
    
}
.encabezadoContacto h1{
    text-align: center;
    
}
.contenedorMenuContacto{
    grid-area: nav;    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    
}
.menuContacto{    
    text-align: center;  
}
.principalContacto{
    grid-area: main;
}

.cajaForm{
    margin: 20px;
    background-color: none;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    
}
.Form{
    align-items: center;

}
.footerContacto{
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;   
    
}
@media screen and(min-width:1024px) {
    .contenedorContacto{
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "header header header header header header"
        "nav nav nav nav nav nav"
        "main main main main main main"
        "footer footer footer footer footer footer";
        background-color: rgba(255, 192, 203, 0.288);
    }
}